// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.show-img{
    max-height: 150px;
    position: relative;
    img{
        object-fit: cover;
    }
    .go-back{
        font-size: 18px;
        position: absolute;
        left: 15px;
        a{
            color: white;
        }
    }
}